<section class="absolute bg-slate-700 bg-opacity-60 flex justify-center items-center w-full h-full">
    <div action="" class="w-1/5 bg-slate-600 text-white p-8 text-base max-sm:w-full rounded-md shadow-2xl">
        <h2 class="w-full text-2xl pb-2">Criar um novo menu</h2>
        <div class="flex flex-wrap py-2">
            <label class="w-full font-medium" for="">Nome</label>
            <input class="w-full p-2 rounded-md text-xl text-black max-sm:w-full" type="text" [(ngModel)]="dataMenu.label">
        </div>
        <div class="flex flex-wrap py-2">
            <label class="w-full font-medium" for="">Path</label>
            <input class="w-full p-2 rounded-md text-xl text-black max-sm:w-full" type="text" [(ngModel)]="dataMenu.path">
        </div>
        <div class="flex flex-wrap py-2">
            <label class="w-full font-medium" for="">Icon</label>
            <input class="w-full p-2 rounded-md text-xl text-black max-sm:w-full" type="text" [(ngModel)]="dataMenu.icon">
        </div>
        <div class="flex flex-wrap py-2">
            <label class="w-full font-medium" for="">Permission</label>
            <input class="w-full p-2 rounded-md text-xl text-black max-sm:w-full" type="text" [(ngModel)]="dataMenu.permission">
        </div>
        

        <div class="flex justify-end py-2 gap-8">
            <button class="px-2 py-1 bg-blue-500 rounded-md text-white font-medium" (click)="createMenu()">Cadastrar</button>
            <button class="px-2 py-1 bg-red-500 rounded-md text-white font-medium" (click)="closeMenu()">Cancelar</button>
        </div>

    </div>
</section>